<div class='error-banner'>
    <div class='error-404'></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Page not found</h2>
                <div class="error-details">
                    Sorry, an error has occurred. The required page was not found.
                </div>
                <div class="error-actions">
                    <button (click)="goToPage('/')" class='btn btn-primary'>Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>