$arena: #ecfaf6;
$aqua: #f5f5f5;

.container {
  background-color: #f26b8c;
}

.modal-header {
  h4 {
    font-weight: bold;
    font-size: 40px;
  }
  font-family: "Shadows Into Light";
  background-color: #6b8cf2;
}

.modal-body {
  overflow-y: scroll;
  height: calc(100vh - 15rem);
  font-family: "DotGothic16", sans-serif;
  background-color: black;
  color: rgb(3, 167, 3);
}

.modal-footer {
  background-color: #ecbb25;

  button {
    font-weight: bold;
    font-family: "Shadows Into Light";
    background-color: #8e6bf2;
  }
}
